<div id="page-content">
  <!-- Breadcrumb -->
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to "Trang chủ", root_path %></li>
      <li class="active">Add your property</li>
    </ol>
  </div>
  <!-- end Breadcrumb -->
  <div class="container">
    <header>
      <h1>Thêm nhà</h1>
    </header>
    <%= simple_form_for @house, class: "form-submit" do |f| %>
      <div class="row">
        <div class="block">
          <div class="col-md-9 col-sm-9">
            <section id="submit-form">
              <section id="basic-information">
                <header>
                  <h2>Thông tin cơ bản</h2>
                </header>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <%= f.input :title, input_html: { class: "form-control" } %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <%= f.input :price, input_html: { class: "form-control", pattern: '\d*', required: true } %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.input :description,as: :text, input_html: {class: "form-control", rows: 8} %>
                </div>
                <!-- /.form-group -->
              </section>

              <section>
                <div class="row">
                  <div class="block clearfix">
                    <div class="col-md-6 col-sm-6">
                      <section id="summary">
                        <header>
                          <h2>Thông tin</h2>
                        </header>
                        <div class="form-group">
                          <!-- <label for="submit-location">Thành phố</label>
                          <select name="type" id="submit-location">
                            <option value="1">Hà Nội</option>
                            <option value="2">Sài Gòn</option>
                          </select> -->
                          <%= f.input :city_id, collection: City.all %>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                              <%= f.input :house_type, collection: House.house_types.map {|key, value| [key.humanize, key]} %>
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col-md-6 -->
                          <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                              <%= f.input :status, collection: House.statuses.map {|key, value| [key.humanize, key]} %>
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col-md-6 -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                          <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                              <%= f.input :no_bed_room, {class: "form-control", pattern: "\d*"}%>
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col-md-6 -->
                          <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                              <%= f.input :no_bath_room, {class: "form-control", pattern: "\d*"} %>
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col-md-6 -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                          <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                              <%= f.input :area, {class: "form-control", pattern: "\d*"} %>
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <!-- /.col-md-6 -->

                          <!-- /.col-md-6 -->
                        </div>
                        <!-- /.row -->
                        <div class="checkbox">
                          <label>
                          <input type="checkbox">Allow user rating <i class="fa fa-question-circle tool-tip"  data-toggle="tooltip" data-placement="right" title="Users can give you a stars rating which is displayed in property detail"></i>
                          </label>
                        </div>
                      </section>
                      <!-- /#summary -->
                    </div>
                    <!-- /.col-md-6 -->
                    <div class="col-md-6 col-sm-6">
                      <section id="place-on-map">
                        <header class="section-title">
                          <h2>Địa điểm trên bản đồ</h2>
                          <span class="link-arrow geo-location">Lấy vị trí của tôi</span>
                        </header>
                        <div class="form-group">
                          <%= f.input :address, {class: "form-control", id: "address-map"} %>
                        </div>
                        <!-- /.form-group -->
                        <label for="address-map">Hoặc đặt chọn vị trí nhà trên bản đồ</label>
                        <div id="submit-map"></div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="latitude" name="latitude" readonly>
                            </div>
                            <!-- /.form-group -->
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" id="longitude" name="longitude" readonly>
                            </div>
                            <!-- /.form-group -->
                          </div>
                        </div>
                      </section>
                      <!-- /#place-on-map -->
                    </div>
                    <!-- /.col-md-6 -->
                  </div>
                  <!-- /.block -->
                </div>
                <!-- /.row -->
              </section>
            </section>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="block">
          <div class="col-md-9 col-sm-9">
            <div class="center">
              <div class="form-group">
                <%= f.button :submit, class: "btn btn-default large" %>
                <!-- <button type="submit" class="btn btn-default large">Gửi thông tin</button> -->
              </div>
              <!-- /.form-group -->
              <figure class="note block">By clicking the “Proceed to Payment” or “Submit” button you agree with our <a href="terms-conditions.html">Terms and conditions</a></figure>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- /.container -->
</div>
