<div id="page-content">
       <!-- Breadcrumb -->
       <div class="container">
           <ol class="breadcrumb">
               <li><a href="#">Home</a></li>
               <li class="active">Sign In</li>
           </ol>
       </div>
       <!-- end Breadcrumb -->

       <div class="container">
           <header><h1>Sign In</h1></header>
           <div class="row">
               <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-group">
                      <%= f.label :email %>
                      <%= f.email_field :email, class: "form-control" %>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                      <%= f.label :password %>
                      <%= f.password_field :password, class: "form-control", required: true %>
                    </div><!-- /.form-group -->
                    <div class="form-group clearfix">
                      <%= f.submit "Đăng nhập", class: "btn pull-right btn-default" %>
                    </div>
                  <% end %>
                   <hr>
                   <div class="center"><a href="#">I don't remember my password</a></div>
               </div>
           </div><!-- /.row -->
       </div><!-- /.container -->
   </div>
   <!-- end Page Content -->
